<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

    <footer>
        <div class="footer-content" id="contato">
            <div class="footer-section">
                <h4 style="font-style: italic;"><SPAN style="color: #127e5a; ">BEST</SPAN>PRICE</h4>
                <p>Sua melhor experiência em compras online</p>
                <div class="social-media">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="footer-section">
                <h4>Links Úteis</h4>
                <ul>
                    <li><a href="sobre">Sobre Nós</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Contato</h4>
                <p><i class="fas fa-phone"></i> (11) 1234-5678</p>
                <p><i class="fas fa-envelope"></i> contato@bestprice.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Best Price - Todos os direitos reservados</p>
        </div>
    </footer>

</body>

</html>
